* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /*  VARIAVEIS */

  /* CORES */

  --bg-header: #8e9aaf;
  --bg-main: #eff1ff;
  --bg-title: #cbc0d3;
  --bg-h2: #feeafa;
  --bg-h2-hover: #ffbdf2;
  --fc-h2: #4a4e69;
  --fc-p: #23053a;
  --fc-tittle: #ffffff;

  /* FONTES */

  --ff-pala: 'Palanquin', sans-serif;
  --ff-staa: 'Staatliches', cursive;
}
body {
  background: #cfd2e7;
}
.page {
  max-width: 38rem;
  margin: 0 auto;
}

.text-desktop {
  display: none;
}

.page header {
  display: flex;
  flex-direction: column;
  background: #8E9AAF;
  height: 32rem;
}

footer {
  display: none;
}

header img {
  margin: 3.2rem auto;
  width: 14rem;
  height: 14rem;
}

header img:hover {
  animation: rotate 2s both;
  animation-delay: 750ms, 750ms;
  animation-iteration-count: infinite;
}

header h1 {
  background-color: #CBC0D3;
  padding: 0.8rem 0;
  text-align: center;
  font-family: var(--ff-staa);
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  
  height: 5rem;

  letter-spacing: 0.05em;

  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
  background-color:#EFF1FF;
  padding: 1rem 3rem;
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.cards .card {
  position: relative;
  height: fit-content;
}

.card h2 {
  position: absolute;

  top: 1.6rem;
  right: 1.6rem;

  animation: topdown 4s forwards;
}

.cards .card img {
  width: 100%;
  animation: downtop 500ms forwards;
}

main p {
  font-family: var(--ff-pala);
  color: #23053A;

  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;

  width: 32rem;

  display: flex;
  align-items: center;
  text-align: center;

  margin: 3rem auto 6rem;
}

main h2 {
  font-family: var(--ff-staa);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4A4E69;

  background: #FEEAFA;
  border-radius: 2rem;
  width: fit-content;
  padding: 1rem 2.4rem;
}

main h2:hover  {
  background: #ee5fd1;
}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }

}

@keyframes label {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: matrix3d(1);
  }
}

@keyframes img1 {
  0% {
    opacity: 0;
    transform: translatex(-35px) translatey(-35px);
  }
  100% {
    opacity: 1;
    transform: translatex(0) translatey(0);
  }
}

@keyframes img2 {
  0% {
    opacity: 0;
    transform: translatey(-35px);
  }
  100% {
    opacity: 1;
    transform: translatex(0) translatey(0);
  }
}

@keyframes img3 {
  0% {
    opacity: 0;
    transform: translatex(35px) translatey(-35px);
  }

  100% {
    opacity: 1;
    transform: translatex(0) translatey(0);
  }
}

@keyframes img4 {
  0% {
    opacity: 0;
    transform: translatey(35px);
  }

  100% {
    opacity: 1;
    transform: translatex(0) translatey(0);
  }
}

@keyframes img5 {
  0% {
    opacity: 0;
    transform: translatey(25px);
  }

  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes img6 {
  0% {
    opacity: 0;
    transform: translatex(25px) translatey(35px);
  }

  100% {
    opacity: 1;
    transform: translatex(0) translatey(0);
  }
}

.card:nth-child(1) h2:hover,
.card:nth-child(2) h2:hover,
.card:nth-child(3) h2:hover,
.card:nth-child(4) h2:hover,
.card:nth-child(5) h2:hover,
.card:nth-child(6) h2:hover {
  background-color: var(--bg-h2-hover);
}

@media (min-width: 900px){
  .text-desktop {
    margin-top: 4rem;
    display: block;
    color: #FFFFFFFF;
    font-size: 1.8rem;
    line-height: 1.5;
    width: 27.5rem;
    text-align: center;
    align-self: center;
    
  }

  .text-mobile {
    display: none;
  }

  header h1 {
    height: 6rem;
    line-height: 6rem;
    padding: 0;
  }

  main {
    width: 100%;
    
  }

  .page {
    display: flex;
    max-width: none;
    margin: 0;
  }

  .page header {
    width: 37.7rem;
    height: 100vh;
    position: fixed;
  }

  .cards {
    margin-left: 37.7rem;
    grid-template-areas: 
    'A B'
    'D B'
    'D F'
    'C G'
    'E G'
    'E H';
  } 
  
  .cards .card:nth-child(1) {
    grid-area: A;
  }
  
  .cards .card:nth-child(2) {
    grid-area: B;
  }
  
  .cards .card:nth-child(3) {
    grid-area: C;
  }

  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(5) {
    grid-area: F;
  }

  .cards .card:nth-child(6) {
    grid-area: E;
  }

  .cards .card:nth-child(1) img {
    animation: none;
    animation: img1 1600ms 300ms;
    transition-timing-function: ease;
  }
  
  .cards .card:nth-child(2) img {
    animation: none;
    animation: img2 1600ms 300ms;
    transition-timing-function: ease;
  }
  
  .cards .card:nth-child(3) img {
    animation: none;
    animation: img3 1600ms 300ms;
    transition-timing-function: ease;
  }

  .cards .card:nth-child(4) img {
    animation: none;
    animation: img4 1600ms 300ms;
    transition-timing-function: ease;
  }

  .cards .card:nth-child(5) img {
    animation: none;
    animation: img5 1600ms 300ms;
    transition-timing-function: ease;
  }

  .cards .card:nth-child(6) img {
    animation: none;
    animation: img6 1600ms 300ms;
    transition-timing-function: ease;
  }

  .card:nth-child(1) h2,
  .card:nth-child(2) h2,
  .card:nth-child(3) h2,
  .card:nth-child(4) h2,
  .card:nth-child(5) h2,
  .card:nth-child(6) h2,
  svg {
    animation: label 600ms 300ms;
    transition-timing-function: ease;
  }

  .card:nth-child(1) img:hover,
  .card:nth-child(2) img:hover,
  .card:nth-child(3) img:hover,
  .card:nth-child(4) img:hover,
  .card:nth-child(5) img:hover,
  .card:nth-child(6) img:hover {
    transform: scale(1.05);
    opacity: 0.8;
    filter: brightness(1);
  }

}

@media (min-width:1440px) {
  .cards {
    grid-template-areas: 
    'A B C'
    'D B E'
    'D F E';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }
  
  .cards .card:nth-child(2) {
    grid-area: B;
  }
  
  .cards .card:nth-child(3) {
    grid-area: C;
  }

  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(5) {
    grid-area: F;
  }

  .cards .card:nth-child(6) {
    grid-area: E;
  }
}